@import "tailwindcss";
@import "@nuxt/ui";

@import './_normalize.css';
@import './_settings.css';

@theme static {
  --font-sans: 'Mulish', sans-serif;

  --color-slate-900: #101010;
  --color-slate-800: #232323;
  --color-slate-400: #868686;
  --color-slate-300: #E8E8E8;
  --color-slate-200: #f3f3f3;
  --color-slate-100: #fff;

  --color-green-400: #9effbf;
  --color-violet-800: #7941a7;
  --color-pink-500: #e2beff;
  --color-blue-800: #1059c8;
}